<nav>
  <div class="site-title">
    <a href="/"><h1>E.M SYSTEM</h1></a>
    <p>A student Election System</p>
  </div>
  <ul>    
    <li><a href="/users">Users</a></li>
    <li><a href="/users/new_user">New User</a></li>
    <li><a href="/elections">Elections</a></li>
    <li><a href="/elections/new_election">New Election</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>