
                <!-- Begin Page Content -->
                <div class="container-fluid h-100 " >

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="404"><%= errorCode %></div>
                        <p class="lead text-gray-800 mb-5"><%= main %></p>
                        <p class="text-gray-500 mb-0"><%= additnMessage %></p>
                        <a href="/voters/home.ejs">&larr; Back to Home</a>
                    </div>

                </div>
                <!-- /.container-fluid -->
