/*Candidate modal Style*/
label.candtPhotoInpLabel input[type="file"] {
  position:absolute;
  top: -1000px;
}

/* end Candidate modal Style*/
ul.sidebar{
    position: relative;
    
}
ul nav .container {

    max-height: 80vh;
}

.sidebar-nav li.nav-item {
    position: relative;    
    display: block;
    text-align: left; 
    width: 100%;
    height: 50px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 
                0 6px 30px 5px rgba(0,0,0,.12), 
                0 8px 10px -5px rgba(0,0,0,.2);
}

li.nav-item:hover {   
   
    background-color: #3e68d2;
    color: #f1f1fc;    

}
.nav-item.active{
    background-color: #3e68d2;
    color: #f1f1fc; 
}

li.nav-item .nav-link{
    font-weight:bold;
}




@media (min-width: 768px) {
    .sidebar {
      width: 14rem !important;
    }
    .sidebar .nav-item .collapse {
      position: relative;
      left: 0;
      z-index: 1;
      top: 0;
      -webkit-animation: none;
      animation: none;
    }
    .sidebar .nav-item .collapse .collapse-inner {
      border-radius: 0;
      box-shadow: none;
    }
    .sidebar .nav-item .collapsing {
      display: block;
      transition: height 0.15s ease;
    }
    .sidebar .nav-item .collapse,
    .sidebar .nav-item .collapsing {
      margin: 0 1rem;
    }
    .sidebar .nav-item .nav-link {
      display: block;
      width: 100%;
      text-align: left;
      font-weight: bold;
      padding: 1rem;
      width: 14rem;
      
    }
    .sidebar .nav-item .nav-link i {
      font-size: 0.85rem;
      margin-right: 0.25rem;
    }
    .sidebar .nav-item .nav-link span {
      font-size: 0.85rem;
      display: inline;
    }
    .sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
      width: 1rem;
      text-align: center;
      float: right;
      vertical-align: 0;
      border: 0;
      font-weight: 900;
      content: '\f107';
      font-family: 'Font Awesome 5 Free';
    }
    .sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
      content: '\f105';
    }
    .sidebar .sidebar-brand .sidebar-brand-icon i {
      font-size: 2rem;
    }
    .sidebar .sidebar-brand .sidebar-brand-text {
      display: inline;
    }
    .sidebar .sidebar-heading {
      text-align: left;
    }
    .sidebar.toggled .nav-item .collapse {
      position: absolute;
      left: calc(6.5rem + 1.5rem / 2);
      z-index: 1;
      top: 2px;
      -webkit-animation-name: growIn;
      animation-name: growIn;
      -webkit-animation-duration: 200ms;
      animation-duration: 200ms;
      -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
      animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
    }
    .sidebar.toggled .nav-item .collapse .collapse-inner {
      box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
      border-radius: 0.35rem;
    }
    .sidebar.toggled .nav-item .collapsing {
      display: none;
      transition: none;
    }
    .sidebar.toggled .nav-item .collapse,
    .sidebar.toggled .nav-item .collapsing {
      margin: 0;
    }
    .sidebar.toggled .nav-item:last-child {
      margin-bottom: 1rem;
    }
    .sidebar.toggled .nav-item .nav-link {
      text-align: center;
      width: 6.5rem;
    }
    .sidebar.toggled .nav-item .nav-link span {
      font-size: 0.65rem;
      display: block;
    }
    .sidebar.toggled .nav-item .nav-link i {
      margin-right: 0;
    }
    .sidebar.toggled .nav-item .nav-link[data-toggle="collapse"]::after {
      display: none;
    }
    .sidebar.toggled .sidebar-brand .sidebar-brand-icon i {
      font-size: 2rem;
    }
    .sidebar.toggled .sidebar-brand .sidebar-brand-text {
      display: none;
    }
    .sidebar.toggled .sidebar-heading {
      text-align: center;
    }
  }
  