
        <a class="sidebar-brand d-flex align-items-center justify-content-center row" href="index.html">
            <div class="sidebar-brand-icon col-md-12">
                <img src="/img/sug logo.jpg"  width="50" height="50" class="d-inline-block align-top" alt="">
            </div>
            <div class="sidebar-brand-text col-md-12">
                <h3 class="font-weight-bold text-dark">S.U.G</h3>
            </div>
        </a>

          

        <div class="container mt-5">
            <div class="row sidebar-nav ">

                <li class="nav-item  my-3 " id="bt">
                    <a class="nav-link" href="/home">
                        <i class="fas fa-fw fa-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li> 
                 
                <li class="nav-item  my-3 ">
                    <a class="nav-link" href="/elections">
                        <i class="fas fa-fw fa-list"></i>
                        <span>Election List</span>
                    </a>
                </li>

                <li class="nav-item my-3">
                    <a class="nav-link" href="/faculties">
                        <i class="fa fa-fw fa-university"></i>
                        <span>Schools</span>
                    </a>
                </li>                
                
                <li class="nav-item my-3">
                    <a class="collapse-item nav-link" href="/departments">
                        <i class="fa fa-fw fa-university"></i>
                        <span>Departments</span>
                    </a>
                </li>

                <li class="nav-item  my-3 ">
                    <a class="nav-link" href="/voters">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Voters List</span>
                    </a>
                </li>
                
                <li class="nav-item  my-3 ">
                    <a class="nav-link" href="/positions">
                        <i class="fas fa-fw fa-sign"></i>
                        <span>Positions List</span>
                    </a>
                </li>

                <li class="nav-item  my-3">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-users"></i>
                        <span>Users List</span>
                    </a>
                </li>


                <!-- Nav Item - Pages Collapse Menu ->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-university"></i>
                        <span>Faculties</span>
                    </a>
                    <div id="collapseTwo" class="collapse nav-item bg-white" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class=" py-2 collapse-inner rounded">
                            <h6 class="collapse-header"></h6>
                            <a class="collapse-item nav-link" href="/faculties">Schools</a>
                            <a class="collapse-item nav-link" href="/departments">Departments</a>
                        </div>
                    </div>
                </li-->                

                <li class="nav-item  my-3">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-cogs"></i>
                        <span>Settings</span>
                    </a>
                </li>

            </div>
        </div>
        